*{
    margin: 0;
    padding: 0;
}

/*Header*/

.nav-link{
    color: #118CD9;
}

.nav-link:hover{
    color: #090E73;
}

/*Main*/

#form-externo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    display: flex;
    justify-content:space-evenly ;
    flex-direction: column;
    border-radius: 5px;
    width:300px;
    gap: 10px;
}

.fomulario{
    width: 100px;
}

#botao{
    display: flex;
    justify-content: center;
}

#procurar{
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
}